################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.opendb

/week2_ex1/.vs/week2_ex1/v14
/week2_ex1/Debug
/week2_ex1/week2_ex1/Debug
